@model WebLibrary.Data.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VendorCode" class="control-label"></label>
                <input asp-for="VendorCode" class="form-control" />
                <span asp-validation-for="VendorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPublishing" class="control-label"></label>
                <input asp-for="YearOfPublishing" class="form-control" />
                <span asp-validation-for="YearOfPublishing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grange" class="control-label"></label>
                <input asp-for="Grange" class="form-control" />
                <span asp-validation-for="Grange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingHouse" class="control-label"></label>
                <input asp-for="PublishingHouse" class="form-control" />
                <span asp-validation-for="PublishingHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annotation" class="control-label"></label>
                <input asp-for="Annotation" class="form-control" />
                <span asp-validation-for="Annotation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOnBalance" class="control-label"></label>
                <input asp-for="QuantityOnBalance" class="form-control" />
                <span asp-validation-for="QuantityOnBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfEverything" class="control-label"></label>
                <input asp-for="AmountOfEverything" class="form-control" />
                <span asp-validation-for="AmountOfEverything" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
